# Ignore arquivos de log
*.log

#Ignore diretorios de build e distribuição
/build/
/dist/
/out/

#Ignore arquivos de configuração do sistema operacional
.DS_Store

#Ignore arquivos de configuração de IDEs
*.iml
.ideal/
.vscode/
*.class

#Ignore dependência de pacotes (ex: Node.js)
node_modules/

#Ignore arquivos de cache e temporários
*.tmp
*.cache
*.swp